**/*.html
**/*.log
**/*.Rhistory
**/*.RData
results/*
resources/*
.idea/*.*
.idea/rSettings.xml
.idea/rAvailablePackageCache.xml
workflow/scripts/testing_negative_coords.py
workflow/scripts/compare_grf_outputs.py
shiny_apps/data/*
*_cache/*
*_files/*
.Rproj.user
.RDataFiles/*.*
.snakemake/*.*
notebooks/repeats_summary_cache/html/*.*
notebooks/repeats_summary_cache/html/__packages
notebooks/repeats_summary_files/figure-html/*.*
.idea/rGraphicsSettings.xml
.idea/rAvailablePackageCache.xml
.idea/misc.xml
.idea/rAvailablePackageCache.xml
.idea/rSettings.xml
notebooks/.ipynb_checkpoints/repeats_summary-checkpoint.ipynb
.idea/misc.xml
.idea/rAvailablePackageCache.xml
.idea/rGraphicsSettings.xml
.idea/rSettings.xml
notebooks/feature_engineering_cache/html/*.*
notebooks/feature_engineering_cache/html/__packages
notebooks/feature_engineering_files/figure-html/*.*
*.woff
*.css
*.js
