*.html
*.log
.Rhistory
*.RData
results/**
resources/**
.idea/
**/**/__pychache__/
notebooks/modelling/tables/metrics_before_BL_types.csv
workflow/scripts/testing_negative_coords.py
workflow/scripts/compare_grf_outputs.py
shiny_apps/
**/*_cache/*
**/*_files/*
.Rproj.user
.RDataFiles
.snakemake
.idea
.ipynb_checkpoints
*.js
