# general
*.fasta
*.gff
*.vcf
*.bcf
*.html
*.pdf
*.log
*.tsv
.idea/
.keras/
.parallel/
.cache/
workflow/scripts/__pycache__/
**/*_cache/
**/*_files/
.snakemake
.ipynb_checkpoints
*.js
.DS_Store

# the raw files
resources/
data/

# R files
.Rhistory
.Rprofile
*.RData
.Rproj.user
.RDataFiles

# results
results/a*/
results/coverage/
results/data_filtered/
results/final/
results/logs/
results/mapping/
results/plasmids/
results/qualcheck_*/
results/resistance_genes/
results/drafts/
results/polished/
results/isescan/
results/tables/
results/genome_coverage/
results/direct_repeats/
results/annotations/
results/assemblies/
results/assemblies_joined/
localDB/

# my presentation made with quarto
notebooks/presentation/

# manuscript related files
notebooks/modelling/manuscript/

# modelling files
notebooks/modelling/legacy/

# other notebooks
notebooks/assemblies_summary/